@font-face {
  font-family: domain;
  src: url(./domain.ttf);
  font-family: canopee;
  src: url(./canopee.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  background-color: #222;
  /* overflow: hidden; */
}

#page1 {
  height: 130vh;
  width: 100vw;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: #c4bcb3;
}

#nav {
  height: 100px;
  /* background-color: red; */
  width: 100%;
  display: flex;
  padding: 0 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}

#nav img {
  height: 32px;
  width: 33.3%;
}

#nav h5 {
  font-size: 20px;
  font-weight: 100;
  width: 33.3%;
}
#nav i {
  font-size: 25px;
  width: 33.3%;
  text-align: right;
}

#slider {
  /* background-color: red; */
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
}
#slider1 {
  width: 30%;
  height: 100%;

  /* background-color: blue; */
}
#slider2 {
  width: 28%;
  height: 100%;
  padding: 20px 30px;
  text-align: center;
  /* background-color: #fff; */
  border-left: 1px solid #595959;
  border-right: 1px solid #595959;
}
#slider1 #img-div {
  height: 65%;
  width: 100%;
  overflow: hidden;
}
#img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  transition: all ease 0.6s;
  border: solid 1px #222;
}
#img-div:hover img {
  scale: 1.2;
  cursor: pointer;
}
#slider3 #vid-div {
  height: 65%;
  width: 100%;
  overflow: hidden;
}
#slider3 {
  width: 30%;
  height: 100%;
  /* background-color: blue; */
}
#slider3 #vid-div video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0px 45%;
  transition: all ease 0.6s;
  border: solid 1px #222;
}
#vid-div:hover video {
  scale: 1.02;
  cursor: pointer;
}

#slider h4 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-family: canopee;
}

#slider h4 span {
  background: #be3f14;
  color: #fff;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
}

#slider p {
  font-size: 20px;
  font-family: domain;
  font-weight: 100;
  color: #222;
}

#slider2 h2 {
  font-family: canopee;
  font-size: 70px;
  font-weight: 75;
}

#slider2 h3 {
  font-family: domain;
  font-size: 36px;
  font-weight: 60;
  /* margin: 20px 0; */
}

#slider2 h6 {
  font-family: domain;
  font-size: 18px;
  font-weight: 50;
}
#name {
  height: 50vh;
  width: 100vw;
  max-width: 100%;
  padding: 2%;
}
#name h1 {
  font-family: canopee;
  font-size: 30vw;
  letter-spacing: -25px;
  font-weight: 100;
  text-align: center;
  background-color: #1c1c19;
  color: #c4bcb3;
  line-height: 450px;
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: #c4bcb3;
}
