* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
#main {
  background-color: #222;
  will-change: transform;
  /* overflow: hidden; */
}

#page1 {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #c4bcb3;
}

#nav {
  height: 12vh;
  /* background-color: red; */
  width: 100%;
  display: flex;
  padding: 0 3vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}

#nav img {
  height: 50%;
  width: 33.3%;
}

#nav h5 {
  font-size: 20px;
  font-weight: 100;
  width: 33.3%;
}
#nav i {
  font-size: 25px;
  width: 33.3%;
  text-align: right;
}

#slider {
  /* background-color: red; */
  height: 45vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 1vh;
}
#slider1 {
  width: 30%;
  height: 100%;

  /* background-color: blue; */
}
#slider2 {
  width: 28%;
  height: 100%;
  padding: 3vw 2vh;
  text-align: center;
  /* background-color: #fff; */
  border-left: 1px solid #595959;
  border-right: 1px solid #595959;
}
#slider1 #img-div {
  height: 65%;
  width: 100%;
  overflow: hidden;
}
#img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  transition: all ease 0.6s;
  border: solid 1px #222;
}
#img-div:hover img {
  scale: 1.2;
  cursor: pointer;
}
#slider3 #vid-div {
  height: 65%;
  width: 100%;
  overflow: hidden;
}
#slider3 {
  width: 30%;
  height: 100%;
  /* background-color: blue; */
}
#slider3 #vid-div video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0px 45%;
  transition: all ease 0.6s;
  border: solid 1px #222;
}
#vid-div:hover video {
  scale: 1.02;
  cursor: pointer;
}

#slider h4 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Amarante;
}

#slider h4 span {
  background: #be3f14;
  color: #fff;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
}

#slider p {
  font-size: 20px;
  font-family: Vidaloka, serif;
  font-weight: 100;
  color: #222;
}

#slider2 h2 {
  font-family: Amarante;
  font-size: 3vw;
  font-weight: 75;
}

#slider2 h3 {
  font-family: Vidaloka, serif;
  font-size: 2vw;
  font-weight: 60;
  margin: 20px 0;
}

#slider2 h6 {
  font-family: Vidaloka, serif;
  font-size: 1vw;
  font-weight: 50;
}
#name {
  height: 100%;
  width: 100vw;
  max-width: 100%;
  padding: 1vh;
}
#name h1 {
  font-family: Amarante;
  font-size: 23vw;
  font-weight: 100;
  letter-spacing: -5px;
  text-align: center;
  background-color: #1b1b19;
  color: #c4bcb3;
  line-height: 100%;
  /* width: 50%; */
}

#page2 {
  width: 100%;
  background-color: #c4bcb3;
  padding: 1vw;
  /* display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: center; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#page2-left {
  height: 100%;
  padding: 1vw;
  width: 35%;
  border-right: 1px solid #4b4b4b;
}

#page2-left h2 {
  font-size: 7vw;
  font-family: Amarante;
  line-height: 150px;
  font-weight: 100;
}

#page2-left h2 span {
  font-size: 11vw;
  font-weight: 800;
  color: #222;
}

#page2-left img {
  min-height: 50%;
  width: 100%;
  object-fit: cover;
  border: 3px solid #222;
}

#page2-left p {
  font-size: 2vw;
  font-family: Vidaloka, serif;
  color: #2f2f2f;
  margin-top: 20px;
}

#page2-right {
  height: 100%;
  width: 70%;
  padding: 1vw;
}

#page2-right img {
  /* height: 10%; */
  object-fit: contain;
  width: 100%;
  border: 3px solid #222;
}

#page2-right h1 {
  font-family: Amarante;
  font-size: 6vw;
  font-weight: 200;
  letter-spacing: -1px;
}

#page3 {
  /* padding-bottom: 100px; */
  position: relative;
  background-color: #c4bcb3;
}

#page3 h1 {
  font-size: 400px;
  font-weight: 50;
  line-height: 1;
  letter-spacing: -10px;
  background-color: #0f0f0e;
  width: fit-content;
  color: #c4bcb3;
  margin-left: 2%;
  padding: 0 20px;
  line-height: 500px;
  font-family: Amarante;
}

#page3 img {
  height: 450px;
  position: absolute;
  top: 0;
  right: 3%;
}

#page4 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #c4bcb3;
}

#page4-left {
  width: 65%;
  height: 100%;
  padding: 80px 60px;
}

#page4-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page4-right {
  width: 35%;
  height: 100%;
  padding: 80px 60px;
}

#page4-right p {
  font-size: 34px;
  font-family: Vidaloka, serif;
  font-weight: 100;
  color: #2f2f2f;
  margin-bottom: 150px;
  line-height: 35px;
}

#page4-right #anda {
  height: 260px;
  background-color: #cac1b6;
  border: 1px solid #2f2f2fc6;
  border-radius: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

#anda h1 {
  font-size: 100px;
  font-weight: 100;
  font-family: Amarante;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-26%);
  transition: all ease 0.6s;
}

#anda img {
  height: 60px;
  transition: all ease 0.6s;

  transform: translateX(-120%);
}

#anda:hover img {
  transform: translateX(60%);
}

#anda:hover h1 {
  transform: translateX(100%);
}

#page5 {
  padding: 25px 0;
  width: 100%;
  background-color: #c4bcb3;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#page5::-webkit-scrollbar {
  display: none;
}

#page5 h1 {
  font-size: 100px;
  font-family: Vidaloka, serif;
  font-weight: 100;
  display: inline-block;
  /* background-color: red; */
  animation-timing-function: linear;
  margin-right: 30px;
  animation-name: scroll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#page5 h1 span {
  font-family: Amarante;
  background-color: #1b1b1b;
  color: #c4bcb3;
  padding: 0 12px;
}

#page6 {
  height: 100px;
  width: 100%;
  background-color: #c4bcb3;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 34px));
  }
}

#page5:hover h1 {
  animation-play-state: paused;
}

@media (max-width: 475px) {
  #nav {
    height: 8vh;
  }
  #nav h5 {
    display: none;
  }
  #nav img {
    height: 90%;
  }
  #slider {
    height: 25vh;
    justify-content: center;
    padding: 3vw 1vh;
  }
  #slider1 {
    display: none;
  }
  #slider2 {
    height: 20vh;
    width: auto;
    padding: 0;
  }
  #slider2 h2 {
    font-size: 9vw;
    font-weight: 600;
  }
  #slider2 h3 {
    font-size: 6vw;
    margin: 0;
    padding: 1vh;
  }
  #slider2 h6 {
    font-size: 3vw;
  }
  #slider3 {
    display: none;
  }
  #page2 {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  #page2-left {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #4b4b4b;
  }
  #page2-left h2 {
    font-size: 25vw;
    line-height: 1;
  }
  #page2-left p {
    font-size: 7vw;
  }

  #page2-left h2 span {
    font-size: 35vw;
    font-weight: 900;
  }
  #page2-right {
    width: 100%;
    border-bottom: 1px solid #4b4b4b;
  }

  #page2-right h1 {
    letter-spacing: 1px;
  }
}
