* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: #c4bcb3;
  position: relative;
}

#nav {
  height: 100px;
  background-color: red;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

#nav img {
  height: 32px;
}

#nav h5 {
  font-size: 20px;
  font-weight: 100;
}
#nav i {
  font-size: 25px;
}
